.navbar{
    display: flex;
    height: 17vh;
    background-color: rgb(22 22 22);
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: none ;
}
.close{
    display: none;
}
.nava {
    color: rgb(255, 81, 116);
    font-size: 1.5rem;
    margin-left: 2rem;
}
.navaBtn:hover{
    color: rgb(93, 233, 255);
}
.nava:hover{
    color: rgb(93, 233, 255);
}
main{
    position: absolute;
    right: 3rem;
}
.logoName {
    font-size: 3rem;
    color: #ffe500;
    margin-left: 3rem;
}
.menu{
    display: none;
    width: 8vw;
}
.close{
    display: none;
    width: 2vw;
}
.navaBtn {
    color: rgb(255, 81, 116);
    font-size: 1.5rem;
    margin-left: 2rem;
    background-color: rgb(22 22 22);
    cursor: pointer;
    border: none;
}
@media only screen and (max-width: 1390px) {
    main {
        position: static;
        right: 0rem;
        height: 84vw;
        z-index: 5;
        justify-content: center;
        width: 18vw;
        align-items: center;
        display: none;
        flex-direction: column;
        background-color: #1f1f1f;
    }
 
  }
  @media only screen and (width <= 430px) {
    .logoName {
        font-size: 2rem;
    color: #ffe500;
    margin-left: 2rem;
    }
    .menu {
        display: block;
        width: 21vw;
    }
    main {
        position: absolute;
        right: 0rem;
        height: 58%;
        top: 2rem;
        border-radius: 4rem 0rem 0rem 3rem;
        z-index: 5;
        border: 2px solid #ffa412;
        justify-content: center;
        width: 46vw;
        align-items: center;
        display: none;
        flex-direction: column;
        background-color: #1f1f1f;
    }
    .close {
        display: block;
        /* margin-top: -16rem; */
        width: 7vw;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    .nava {
        color: rgb(255 175 108);
        font-size: 1.2rem;
        margin-top: 3rem;
        margin-left: 0rem; 
    }
    .navaBtn {
        color: rgb(255 175 108);
        font-size: 1.2rem;
        margin-top: 3rem;
        margin-left: 0rem; 
    }
    .navbar {
        display: flex;
        height: 11vh;
        background-color: rgb(22 22 22);
        justify-content: space-between;
        align-items: center;
    }
  }